<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @task.title %>
</p>

<p>
  <strong>本文</strong>
  <%= @task.body %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '戻る', tasks_path %>
